:root {
    --bg-color: #D6D6D6;
    --primary-color: #FFD100;
    --secondary-color: #202020;
  }


body{
    background-color: var(--bg-color);
}
.shadow-n{
  -webkit-box-shadow: inset -1px 0px 11px -3px rgba(0,0,0,0.75);
  -moz-box-shadow: inset -1px 0px 11px -3px rgba(0,0,0,0.75);
  box-shadow: inset -1px 0px 11px -3px rgba(0,0,0,0.75);
}