{% extends '../base.html'%}
{% block tittle %}Personas{% endblock %}
{% block subtitle %}Personas{% endblock %}
{% block container %}
    {% block table %}
    <div class="table-responsive">
        <table id="dataTable" class="dataTable table table-striped">
            <thead class="table-dark">
                <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>correo</th>
                <th>Organizacion</th>
                <th>Opciones</th>
                </tr>
            </thead>
            <tbody>
                {% for people in peoples  %}
                <tr>
                    <td>{{ people.id_People       }}</td>
                    <td>{{ people.namePeople      }}</td>
                    <td>{{ people.phonePeople     }}</td>
                    <td>{{ people.emailPeople     }}</td>
                    <td>{{ people.id_Organization }}</td>
                    <td class="text-center">
                        <a href=""><button class="btn btn-warning" data-bs-toggle="tooltip" data-bs-placement="top" title="informacion"><i class="bi bi-info-circle"></i></button></a>
                        <a href=""><button class="btn btn-danger" data-bs-toggle="tooltip" data-bs-placement="top" title="eliminar"><i class="bi bi-x-circle"></i></button></a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endblock %}
    <!-- Add People -->
    <!-- Button Modal -->
    <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#addPeopleModal">
        Agregar
    </button>

    <!-- Modal  -->
    <div class="modal fade" id="addOrganizationModal" aria-labelledby="addPeopleModal" >
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Agregar Personas</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="card-body mx-auto">
                        <form action="" method="POST">
                            {% csrf_token %}
                            <div class="form-outline mb-4">
                                <input type="text" name = "namePeope" class="form-control" placeholder=" Nombre Completo" required>
                            </div>
                            <div class="form-outline mb-4">
                                <input type="email" name = "emailPeople" class="form-control" placeholder="Correo" required>
                            </div>
                            <div class="form-outline mb-4">
                                <input type="tel" name = "phonePeople" class="form-control" placeholder="Telefono" required>
                            </div>
                            <div class="col form-outline mb-4">
                                <select name="countryOrg" class="form-select p-2 mb-3" aria-label=".form-select-lg" required>
                                    <option hidden selected>Pais</option>
                                    {% for organization in organizations %}
                                    <option value="{{organization.id_Organization}}">{{organization.nameOrganization}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div>
                                <button class="btn btn-primary ">Agregar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
