{% extends '../base.html'%}
{% block tittle %}Autorizaciones{% endblock %}
{% block subtitle %}Autorizaciones{% endblock %}
{% block container %}
    {% block table %}
    <div class="table-responsive">
        <table id="dataTable" class="dataTable table table-striped">
            <thead class="table-dark">
                <tr>
                <th>#</th>
                <th>Nombre</th>
                <th>Autorizacion ID</th>
                <th>Typo</th>
                <th></th>
                <th>Dirección</th>
                <th>Opciones</th>
                </tr>
            </thead>
            <tbody>
                {% for organization in organizations %}
                <tr>
                    <td> {{ organization.id_Organization     }}</td>
                    <td> {{ organization.nameOrganization    }}</td>
                    <td> {{ organization.taxIdOrganization   }}</td>
                    <td> {{ organization.id_Country          }}</td>
                    <td> {{ organization.id_City             }}</td>
                    <td> {{ organization.addressOrganization }}</td>
                    <td class="text-center">
                        <a href="{% url 'organization' organization.id_Organization %}"><button class="btn btn-warning" data-bs-toggle="tooltip" data-bs-placement="top" title="informacion"><i class="bi bi-info-circle"></i></button></a>
                        <a href="{% url 'deleteOrganization' organization.id_Organization %}"><button class="btn btn-danger" data-bs-toggle="tooltip" data-bs-placement="top" title="eliminar"><i class="bi bi-x-circle"></i></button></a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endblock %}
    <!-- Add Organization -->
    <!-- Button Modal -->
    <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#addOrganizationModal">
        Agregar
    </button>

    <!-- Modal  -->
    <div class="modal fade" id="addOrganizationModal" aria-labelledby="addOrganizationModal" >
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Crear Autorizacion</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="card-body mx-auto">
                        <form action="{% url 'addOrganization' %}" method="POST">
                            {% csrf_token %}
                            <div class="form-outline mb-4">
                                <input type="text" name = "nameOrg" class="form-control" placeholder="" required>
                            </div>
                            <div class="form-outline mb-4">
                                <input type="emailOrg" name = "emailOrg" class="form-control" placeholder="Correo" required>
                            </div>
                            <div class="form-outline mb-4">
                                <input type="text" name = "addressOrg" class="form-control" placeholder="Direccion" required>
                            </div>
                            <div class="form-outline mb-4">
                                <input type="number" name = "taxIdOrg" class="form-control" placeholder="Tax ID" required>
                            </div>
                            <div class="row">
                                <div class="col form-outline mb-4">
                                    <select name="countryOrg" class="form-select p-2 mb-3" aria-label=".form-select-lg" required>
                                        <option hidden selected>Pais</option>
                                        {% for country in countries %}
                                        <option value="{{country.id_Country}}">{{country.nameCountry}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col form-outline mb-4">
                                    <select name="cityOrg" class="form-select p-2 mb-3" aria-label=".form-select-lg" required>
                                        <option hidden selected>Ciudad</option>
                                        {% for city in citys %}
                                        <option value="{{city.id_City}}">{{city.nameCity}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div>
                                <button class="btn btn-primary ">Agregar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
